body {
color: white ;
background : black ;
margin: 0px;
font-family: "Open Sans", sans-serif;
margin-bottom: 100;
}

header{
    border: solid 2px white;
    padding: 20px;
    font-size: 35px;
    color: rgb(216, 112, 112);    
}
    
 .chamada{
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px; 
    display: flex;
    justify-content: center;
 }   

.chamada-texto {
    margin-right:5%;   
}

    h1 {
        font-size:100%;
}
p {
    font-size: 50px;
}
   img{
    height: 200px;
 } 
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
} 
  
.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}
.categoria-videos img:hover {
    opacity:1.0;
    border: 5px solid white;
}

.categoria h2 {
    color: rgb(216, 112, 122)
}











